<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= member.name %> - Details</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>

    <%- include('partials/nav') %>


    <header>
        <h1><%= member.name %></h1>
    </header>

    <main>
        <p>Position: <%= member.position %></p>
        <p>Email: <a href="mailto:<%= member.email %>"><%= member.email %></a></p>
        <p>Phone: <a href="tel:<%= member.phone %>"><%= member.phone %></a></p>
        <a href="/staff">Back to Staff List</a>
    </main>

</body>
</html>
